<h1>Listing hack_tips</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hack_tips.each do |hack_tip| %>
      <tr>
        <td><%= hack_tip.title %></td>
        <td><%= hack_tip.description %></td>
        <td><%= hack_tip.user %></td>
        <td><%= link_to 'Show', hack_tip %></td>
        <td><%= link_to 'Edit', edit_hack_tip_path(hack_tip) %></td>
        <td><%= link_to 'Destroy', hack_tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hack tip', new_hack_tip_path %>
